*{
  --main-color: #FF3131;
  --second: #FF3328;
  --third: #111144;
  --font1: #A3A3A3;
  --font2: #CFCECE;
  --lwhite: #F2F2F2;
  --dwhite: #737171;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

nav ul{
  margin: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 600;
  text-decoration: none;
}

h1{
  width: 425px;
  position: absolute;
  font-size: 50px;
  top: 50px;
  color: var(--font2);
  background-color: rgba(17, 17, 68, .75);
  font-family: 'Fredoka One', cursive;

}

h2{
  text-align: center;
  display: block;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
}

h4{
  text-align: center;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

.slim-text{
  width: 500px;
  margin: auto;
}

.container1{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:"nav nav"
                      "image image"
                      "image image"
                      "history context"
                      "history context"
                      "history mario";
}

.container2{
  margin: 80px 0 0 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:"star120 star70 star16"
                      "tas tas twitch"
                      "tas tas twitch"
                      "care care twitch";
}

.one{
  grid-area:nav;
  background-color: var(--second);
}
.two{
  grid-area:image;
  background-color: var(--third);
  background-image:url(https://themindofandrewgilmore.files.wordpress.com/2016/04/giphy-11.gif?w=344&h=240);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px 100px 200px 10px;
  margin: 0px 0px 100px 0px;

}
.three{
  grid-area:history;
  background-color: var(--lwhite);
  border-radius: 5px;
}

.four{
  grid-area:context;
  border-top: 5px solid var(--second);
  border-radius: 5px;
}

div.five img{
  display: block;
  margin: 0 auto;
}
div.three p{
  font-size: 25px;
  font-weight: 600;
}

.five{
  grid-area:mario;
}

.boxes{
  margin: 20px 5px;
  padding: 25px 25px;
  border: 10px solid var(--second);
}

.WR{
  border: 10px solid var(--third);
  width: 80px;
  border-radius: 20px;
  margin: auto;
  color: var(--lwhite);
  //background-color: var(--third);
}

.WR:hover, .WR:active{
  border: 10px solid var(--second);
  border-radius: 20px;
  width: 80px;
  margin: auto;
  color: var(--dwhite);
  //background-color: var(--third);
}

a{
  color: #5D2490;
  text-decoration: none;
}

a:hover, a:active{
  color: var(--third);
  text-decoration: none;
}

.six{
    grid-area:star120;
    padding: 25px 25px;

  }
.seven{
    grid-area:star70;
    padding: 25px 25px;
  }
.eight{
  grid-area:star16;
  padding: 25px 25px;
}
.nine{
  grid-area:tas;
  margin: 40px 0;
  border-top: 5px solid var(--second);
  border-radius: 5px;
}
.ten{
  grid-area:twitch;
  background-color: var(--lwhite);
  margin: 40px 0;
  border-radius: 5px;
}
.eleven{
    grid-area:care;
    margin: 40px 0 60px 0;
    border-top: 5px solid var(--second);
    border-radius: 5px;
  }

.center{
  text-align: center;
}
div.nine img{
  width: 49%;
}

.twitch{
    margin: 75px;
    text-align: center;
}

i{
  font-size: 40px;
}
.small-star{
  font-size: 20px;
}
.small-image{
  display: block;
  margin: 30px auto;
  height: 30%;
  width: 30%;
}



.image{
  display: block;
  margin: 0 auto;
  height: 55%;
  width: 60%;
}

a.button{

}

footer{
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: var(--second);
  min-width: 100%;
  left: 0;
  bottom: 0px;
}

@media screen and (max-width: 768px){
  .container1{
    grid-template-areas: "nav"
                          "image"
                          "history"
                          "context"
                          "mario";
    justify-content: center;
  }

  .container2{
    grid-template-areas: "star120"
                          "star70"
                          "star16"
                          "tas"
                          "twitch"
                          "care";
   justify-content: center;
  }

}
