ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.container1{
  display:grid;
  grid-template-areas:"nav nav"
                      "image image"
                      "image image"
                      "history context"
                      "history context"
                      "history mario";
}

.container2{
  display:grid;
  grid-template-areas:"star120 star70 star16"
                      "tas tas twitch"
                      "tas tas twitch"
                      "care care twitch";
}

.one{
  grid-area:nav;
}
.two{grid-area:image;}
.three{grid-area:history;}
.four{grid-area:context;}
.five{grid-area:mario;}
.six{grid-area:star120;}
.seven{grid-area:star70;}
.eight{grid-area:star16;}
.nine{grid-area:tas;}
.ten{grid-area:twitch;}
.eleven{grid-area:care;}
